<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Jalodhyaan is an 
    organization which aims to make each and every human being aware of importance of saving water and giving them ways to save water.
    Since, we do not aim sell our product & make our profit,
    that's why, at jalodhayaan we form a community that matters,
    We give back to our mother nature the things we owe, 
    And make sure every drop counts. ">
    <meta name="author" content="Team-Jalodhyaan">
    <link rel="shortcut icon" href="img/logo.png">
    <title>Jalodhyaan</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/saveWater.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">

          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" style="color: white !important;"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-left">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger white" style="font-size: 16px; color: white !important;" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="font-size: 16px; color: white !important;" href="/">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="font-size: 16px; color: white !important;" href="/saveWater">Save Water</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="font-size: 16px; color: white !important;" href="/blog">Our Community</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="font-size: 16px; color: white !important;" href="/">Contact Us</a>
            </li>
          </ul>
        </div>
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img id="logoImage" class="img-fluid" width="200px" src="img/top_logo.png"  ></a>
        
      </div>
    </nav>

    {{!-- Save Water Taps --}}
    <div class="container" style="margin-top: 175px;">
        <div class="row" style="height: 100px;">
            <div class="col-xs-12 col-lg-6">

                <div class="row">
                   <div class="col-xs-2 col-lg-2">
                       <img id="div1" src="img/pink.png" class="img-fluid pointer" alt="">
                   </div>
                   <div class="col-xs-2 col-lg-2">
                       <img id="div2" src="img/pink.png" class="img-fluid pointer" alt="">
                   </div>
                   <div class="col-xs-2 col-lg-2">
                       <img id="div3" src="img/pink.png" class="img-fluid pointer" alt="">
                   </div>
                   <div class="col-xs-2 col-lg-2">
                       <img id="div4" src="img/pink.png" class="img-fluid pointer" alt="">
                   </div>
                   <div class="col-xs-2 col-lg-2">
                       <img id="div5" src="img/red.png" class="img-fluid pointer" alt="">
                   </div>
                   <div class="col-xs-2 col-lg-2">
                       <img id="div6" src="img/pink.png" class="img-fluid pointer" alt="">
                   </div>
                   
                </div>

                <br>

                <div class="row">
                   <div class="col-xs-2 col-lg-2">
                       <img id="1" src="img/white.png" class="img-fluid pointer" alt="">
                   </div>
                   <div class="col-xs-2 col-lg-2">
                       <img id="1" src="img/pink.png" class="img-fluid pointer" alt="">
                   </div>
                   <div class="col-xs-2 col-lg-2">
                       <img id="1" src="img/pink.png" class="img-fluid pointer" alt="">
                   </div>
                   <div class="col-xs-2 col-lg-2">
                       <img id="1" src="img/white.png" class="img-fluid pointer" alt="">
                   </div>
                   <div class="col-xs-2 col-lg-2">
                       <img id="1" src="img/pink.png" class="img-fluid pointer" alt="">
                   </div>
                   <div class="col-xs-2 col-lg-2">
                       <img id="1" src="img/pink.png" class="img-fluid pointer" alt="">
                   </div>
                   
                </div>

                <br>

                <div class="row">
                   <div class="col-xs-2 col-lg-2">
                       <img id="1" src="img/white.png" class="img-fluid pointer" alt="">
                   </div>
                   <div class="col-xs-2 col-lg-2">
                       <img id="1" src="img/pink.png" class="img-fluid pointer" alt="">
                   </div>
                   <div class="col-xs-2 col-lg-2">
                       <img id="1" src="img/pink.png" class="img-fluid pointer" alt="">
                   </div>
                   <div class="col-xs-2 col-lg-2">
                       <img id="1" src="img/red.png" class="img-fluid pointer" alt="">
                   </div>
                   <div class="col-xs-2 col-lg-2">
                       <img id="1" src="img/red.png" class="img-fluid pointer" alt="">
                   </div>
                   <div class="col-xs-2 col-lg-2">
                       <img id="1" src="img/red.png" class="img-fluid pointer" alt="">
                   </div>
                   
                </div>

                <br>

                <div class="row">
                   <div class="col-xs-2 col-lg-2">
                       <img id="1" src="img/red.png" class="img-fluid pointer" alt="">
                   </div>
                   <div class="col-xs-2 col-lg-2">
                       <img id="1" src="img/white.png" class="img-fluid pointer" alt="">
                   </div>
                   <div class="col-xs-2 col-lg-2">
                       <img id="1" src="img/white.png" class="img-fluid pointer" alt="">
                   </div>
                   <div class="col-xs-2 col-lg-2">
                       <img id="1" src="img/pink.png" class="img-fluid pointer" alt="">
                   </div>
                   <div class="col-xs-2 col-lg-2">
                       <img id="1" src="img/pink.png" class="img-fluid pointer" alt="">
                   </div>
                   <div class="col-xs-2 col-lg-2">
                       <img id="1" src="img/white.png" class="img-fluid pointer" alt="">
                   </div>
                   
                </div>

                <br>

                <div class="row">
                   <div class="col-xs-2 col-lg-2">
                       <img id="1" src="img/pink.png" class="img-fluid pointer" alt="">
                   </div>
                   <div class="col-xs-2 col-lg-2">
                       <img id="1" src="img/pink.png" class="img-fluid pointer" alt="">
                   </div>
                   <div class="col-xs-2 col-lg-2">
                       <img id="1" src="img/white.png" class="img-fluid pointer" alt="">
                   </div>
                   <div class="col-xs-2 col-lg-2">
                       <img id="1" src="img/red.png" class="img-fluid pointer" alt="">
                   </div>
                   <div class="col-xs-2 col-lg-2">
                       <img id="1" src="img/white.png" class="img-fluid pointer" alt="">
                   </div>
                   <div class="col-xs-2 col-lg-2">
                       <img id="1" src="img/pink.png" class="img-fluid pointer" alt="">
                   </div>
                   
                </div>

                <br>

                <div class="row">
                   <div class="col-xs-2 col-lg-2">
                       <img id="1" src="img/pink.png" class="img-fluid pointer" alt="">
                   </div>
                   <div class="col-xs-2 col-lg-2">
                       <img id="1" src="img/pink.png" class="img-fluid pointer" alt="">
                   </div>
                   <div class="col-xs-2 col-lg-2">
                       <img id="1" src="img/pink.png" class="img-fluid pointer" alt="">
                   </div>
                   <div class="col-xs-2 col-lg-2">
                       <img id="1" src="img/white.png" class="img-fluid pointer" alt="">
                   </div>
                   <div class="col-xs-2 col-lg-2">
                       <img id="1" src="img/white.png" class="img-fluid pointer" alt="">
                   </div>
                   <div class="col-xs-2 col-lg-2">
                       <img id="1" src="img/pink.png" class="img-fluid pointer" alt="">
                   </div>
                   
                </div>

                <br>
                <br>
                <br>
                <div class="row">
                    <div class="text-center col-xs-12 col-lg-3">
                        <img style="text-aling: center;" src="img/pink.png">
                        <p style="color: white;">Closed Tap</p>
                    </div>

                    <div class="text-center col-xs-12 col-lg-4">
                        <img style="text-aling: center;" src="img/white.png">
                        <p style="color: white;">Running Tap</p>
                    </div>

                    <div class="text-center col-xs-12 col-lg-4">
                        <img style="text-aling: center;" src="img/red.png">
                        <p style="color: white;">Water Being Wasted</p>
                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-lg-6" style="margin-top: -16px;">
                <div class="row">
                    <div id="box1" class="col-xs-4 col-lg-4 red center" style="padding: 16px; ">
                        <h5>House Number</h5>
                        <h5 id="getHouse" class="white">A-Block VIT</h5>
                    </div>
                    <div id="box1" class="col-xs-4 col-lg-4 red center" style="padding: 16px;">
                        <h5>Owner Name</h5>
                        <h5 id="OName" class="white">Madhav Bahl</h5>
                    </div>
                    <div id="box1" class="col-xs-4 col-lg-4 red center" style="padding: 16px;">
                        <h5 >Notifications</h5>
                        <h5 id="fetchWastage" class="white">2</h5>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div id="box1" class="col-xs-4 col-lg-4 red center" style="padding: 16px; ">
                        <h5>House Number</h5>
                        <h5 class="white">D-Block VIT</h5>
                    </div>
                    <div id="box1" class="col-xs-4 col-lg-4 red center" style="padding: 16px;">
                        <h5>Owner Name</h5>
                        <h5 class="white">Madhav Bahl</h5>
                    </div>
                    <div id="box1" class="col-xs-4 col-lg-4 red center" style="padding: 16px;">
                        <h5>Notifications</h5>
                        <h5 class="white">1</h5>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div id="box1" class="col-xs-4 col-lg-4 red center" style="padding: 16px; ">
                        <h5>House Number</h5>
                        <h5 class="white">D-Block VIT</h5>
                    </div>
                    <div id="box1" class="col-xs-4 col-lg-4 red center" style="padding: 16px;">
                        <h5>Owner Name</h5>
                        <h5 class="white">Rahul</h5>
                    </div>
                    <div id="box1" class="col-xs-4 col-lg-4 red center" style="padding: 16px;">
                        <h5>Notifications</h5>
                        <h5 class="white">2</h5>
                    </div>
                </div>

                <br>
                <h1 class="white center pointer"><i class="fas fa-chevron-down"></i></h1>
            </div>
        </div>
    </div>

    <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyCp3MQN86Z5-sTPISCpKLjVwOX5rjM1GVo",
            authDomain: "my-first-project-7d21a.firebaseapp.com",
            databaseURL: "https://my-first-project-7d21a.firebaseio.com",
            projectId: "my-first-project-7d21a",
            storageBucket: "my-first-project-7d21a.appspot.com",
            messagingSenderId: "934883700224"
        };
        firebase.initializeApp(config);
    </script>
    <script src="/js/mainSave.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.js"></script>



  </body>

</html>
