body {
    /* background-color: #292c3b; */
    color: white;
    background-image: url('../img/blog.png');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 92vh;
    width: 100%;
    overflow: hidden;
}
